__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.coverage
dist/
build/
site/
*.egg-info/
.venv/
env/
venv/
.cache/

# >>> projio >>>
.claude/settings.json
.mcp.json
.projio.mkdocs.yml
.projio/indexio/index/
.projio/servers.json
.projio/site/
site/
# <<< projio <<<
